<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sisters Information</title>
</head>

<body>
  <h1>Sisters Information</h1>
  <ul>
    <% sistersData.forEach((sister)=> { %>
      <li>
        <h2>
          <%= sister.name %>
        </h2>
        <p>Study: <%= sister.study %>
        </p>
        <p>Social Media: <a href="<%= sister.socialMedia %>">
            <%= sister.socialMedia %>
          </a></p>
      </li>
      <% }); %>
  </ul>
  <% if (name !=='Guest' && sister) { %>
    <h2>Selected Sister's Information</h2>
    <p>Name: <%= sister.name %>
    </p>
    <p>Study: <%= sister.study %>
    </p>
    <p>Social Media: <a href="<%= sister.socialMedia %>">
        <%= sister.socialMedia %>
      </a></p>
    <% } %>
</body>

</html>